[class^='container'],
[class^='col'],
.debug {
  background-color: rgba(0, 255, 0, .2);
  border: 1px solid black;
  min-height: 80px;
}

.container-sc {
  width: 70%;
  margin: 0 auto;

}

.container-sca {
  width: 80%;
  margin: 0 auto;
}

.container-sce {
  width: 85%;
  margin: 0 auto;
}
a{
text-decoration: none;
color: black;
}
h2{
font-size: 40px;
}
/* star */
.icon {
  padding-left: 10px;
  padding-right: 10px;

}

.icon i {
  font-size: 20px;
  color: white;
}
.icon.black i {
  font-size: 20px;
  color: black;
}

.star {
  width: 100%;
  height: 30px;
}

.star div:first-child,
.star div:last-child {
  width: 13%;
  height: 5px;
  background-color: white;
}
.star.black div:first-child,
.star.black div:last-child {
  width: 13%;
  height: 5px;
  background-color: black;
}

/* /star */

/* header */
.hamburger{
border: 2px solid gray;
padding: 5px 10px;
width: 50px;
height: 40px;
}
.hamburger i{
font-size: 25px;
}
/* main */
/* footer */